.container {
  padding: 2.5rem;

  &.bg-color {
    background-color: var(--bg-color);
  }

  .lead {
    font-size: x-large;
  }

  h1 {
    font-weight: bolder;
  }

  .btn {
    font-size: larger;
  }
}
