<div class="container bg-color">
  <h1 class="display-4">Welcome to...</h1>
  <h1 class="display-2">Shakespeare Language Center</h1>

  <div class="position-relative text-center">
    <div class="col-md-12 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Best English institute</h1>
      <p class="lead">
        Bienvenido a nuestra página web. Estamos emocionados de tenerlo aquí y
        esperamos ofrecerle una experiencia de navegación excepcional. Nuestra
        página cuenta con una amplia variedad de información, productos y
        servicios para ayudarlo en sus necesidades. Si tiene alguna pregunta o
        comentario, no dude en ponerse en contacto con nosotros. ¡Gracias por
        visitarnos!
      </p>
      <a class="btn btn-secondary" href="#">Inicia hoy!</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div
      class="product-device product-device-2 box-shadow d-none d-md-block"
    ></div>
  </div>
</div>
