::ng-deep {
  nav {
    // background-color: hsla(135, 100%, 21%, 1);
    background-color: var(--bg-nav-color);
    padding: 0;

    .logo {
      color: #fff;
      text-decoration: none;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode";
      font-weight: 600;
      line-height: 14px;
      margin-right: 3rem;

      .logo-middle {
        margin-left: 00.35rem;
      }
    }

    p {
      margin-bottom: 0;
    }

    .a-item {
      text-decoration: none;
      color: #fff;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 0 2rem 0;
      font-size: 1.15rem;

      &:hover {
        background-color: var(--bg-nav-hover-color);
      }
    }

    img {
      height: 50px;
      width: auto;
      margin: 0.35rem 0.35rem 0.35rem 0;
    }
  }
}
