<nav class="site-header sticky-top">
  <div class="container d-flex flex-column flex-md-row">
    <a href="/"><img src="../../../assets/img/slc-logo.png" alt="logo" /></a>
    <span class="py-2">
      <p class="logo">
        <span>Shakespeare</span>
        <br />
        <span class="logo-middle">Language</span>
        <br />
        <span>Center</span>
      </p>
    </span>
    <a
      class="a-item"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      ><span>Home</span></a
    >
    <a
      class="a-item"
      [routerLink]="['/team']"
      routerLinkActive="router-link-active"
      ><span>Team</span></a
    >
    <a
      class="a-item"
      [routerLink]="['/pricing']"
      routerLinkActive="router-link-active"
      ><span>Pricing</span></a
    >
    <a
      class="a-item"
      [routerLink]="['/faq']"
      routerLinkActive="router-link-active"
      ><span>FAQ</span></a
    >
    <a
      class="a-item"
      [routerLink]="['/about-us']"
      routerLinkActive="router-link-active"
      ><span>About Us</span></a
    >
  </div>
</nav>
